# editorconfig.org
root = true


[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4

[{*.sht, *.html, *.shtm, *.shtml, *.ng, *.htm}]
indent_style = space
indent_size = 2

[{composer.lock, .eslintrc, .babelrc, jest.config, .stylelintrc, *.bowerrc, *.jsb3, *.jsb2, *.json}]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2

[{*.sample, *.js}]
indent_style = space
indent_size = 2

[{jshint.json, *.jshintrc}]
indent_style = space
indent_size = 2

[{*.jscs.json, *.jscsrc}]
indent_style = space
indent_size = 2

[{*.cjsx, *.coffee}]
indent_style = space
indent_size = 2

[{*.yml, *.yaml}]
indent_style = space
indent_size = 2
